
@model Chapter_04_LearningRazorSyntax.Models.BeerModel
@*Using HTML Helper with CSS class example*@
<h1>My most favorite beer:</h1>
@Html.LabelFor(model => Model.Id, new { @class = "font-italic" })
: @Model.Id
<br />
@Html.LabelFor(model => Model.Name, new { @class = "font-italic" })
: @Model.Name
<br />
@Html.LabelFor(model => Model.Type, new { @class = "font-italic" })
: @Model.Type


@*Using Tag Helper with CSS class example*@
<h1>My most favorite beer:</h1>
<label asp-for="Id" class="font-italic"></label>
: @Model.Id
<br />
<label asp-for="Name" class="font-italic" />
: @Model.Name
<br />
<label asp-for="Type" class="font-italic" />
: @Model.Type