@*Razor Code Block examples*@
@{
    ViewData["Title"] = "Home Page";
}

@*Implicit Razor expression examples*@
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

@*The @ symbol in email address below will be ignored by Razor*@
<a href="mailto:user@email.com">user@email.com</a>

@*Concatenate value using Explicit Expression*@
<p>Time@(DateTime.Now.Hour) AM</p>

@*To escape a text with @ symbol*@
<p>@@vmsdurano</p>

<p>Yesterday's date: @((DateTime.Now - TimeSpan.FromDays(1)).ToShortDateString())</p>

@*Using Razor directives to reference a model from the server*@
@model IEnumerable<Chapter_04_LearningRazorSyntax.Models.BeerModel>
@*Displaying View Model data in a list format*@
<h1>My favorite beers are:</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>

<h1>My favorite IPA beer is:</h1>
<ul>
    @foreach (var item in Model)
    {
        if (item.Id == 2)
        {
            <li>@item.Name</li>
        }
    }
</ul>

@*Using HTML Helper example*@

<h1>List of beers:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Type</td>
            </tr>
        }
    </tbody>
</table>

@*Using HTML Helper with CSS class example*@
<h1>My most favorite beer:</h1>
@{ var first = Model.FirstOrDefault(); }

@Html.LabelFor(model => first.Id, new { @class = "font-weight-bold" })
: @first.Id
<br />
@Html.LabelFor(model => first.Name, new { @class = "font-weight-bold" })
: @first.Name
<br />
@Html.LabelFor(model => first.Type, new { @class = "font-weight-bold" })
: @first.Type

@*Using Tag Helper with CSS class example*@
<h1>My most favorite beer:</h1>
<label asp-for="@first.Id" class="font-weight-bold"></label>
: @first.Id
<br />
<label asp-for="@first.Name" class="font-weight-bold"></label>
: @first.Name
<br />
<label asp-for="@first.Type" class="font-weight-bold"></label>
: @first.Type

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>


