@page "/"

@using Dto
@inject HttpClient client

<h1>Submit a new Tourist Destination Spot</h1>
<EditForm Model="@NewPlace" OnValidSubmit="HandleValidSubmit">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <DataAnnotationsValidator />
            <ValidationSummary />
            Browse Image:
            <InputFile OnChange="@HandleSelection" />
            <p class="alert-danger">@errorMessage</p>
            <p>@status</p>
            <p>
                <img src="@imageData" style="width:300px; height:200px;">
            </p>

            Name:
            <InputText class="form-control" id="name" @bind-Value="NewPlace.Name" />
            Location:
            <InputText class="form-control" id="location" @bind-Value="NewPlace.Location" />
            About:
            <InputTextArea class="form-control" id="about" @bind-Value="NewPlace.About" />
            Review:
            <InputNumber class="form-control" id="review" @bind-Value="NewPlace.Reviews" />

            <br />
            <button type="submit" class="btn btn-outline-primary oi-align-right">Post</button>
        </div>
    </div>
</EditForm>

@code {
    string status;
    string imageData;
    string errorMessage;

    async Task HandleSelection(InputFileChangeEventArgs e)
    {
        errorMessage = string.Empty;
        int maxFileSize = 2 * 1024 * 1024;
        var acceptedFileTypes = new List<string>() { "image/png", "image/jpeg", "image/gif" };
        var file = e.File;
        
        if (e.File != null)
        {
            if (!acceptedFileTypes.Contains(file.ContentType))
            {
                errorMessage = "File is invalid.";
                return;
            }

            if (file.Size > maxFileSize)
            {
                errorMessage = "File size exceeds 2MB";
                return;
            }

            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);

            status = $"Finished loading {file.Size} bytes from {file.Name}";

            imageData = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";

        }
    }

    private CreatePlaceRequest NewPlace = new CreatePlaceRequest();

    async Task HandleValidSubmit()
    {
        NewPlace.ImageData = imageData;
        var result = await client.PostAsJsonAsync("https://localhost:44332/api/places", NewPlace);
    }
}


