
@using BlazorServer.Web.Data

@if (IsEdit)
{
    <EditTouristSpot Place="Place" />
}
else
{
    <div class="card">
        <img class="card-img-top" src="@Place.ImageData" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Place.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Location: <b>@Place.Location</b>
                Reviews: @Place.Reviews
                Last Updated: @Place.LastUpdated.ToShortDateString()
            </h6>
            <p class="card-text">@Place.About</p>
            <button type="button" class="btn btn-outline-primary"
                    @onclick="(() => IsEdit = true)">
                Edit
            </button>
        </div>
    </div>
}

@code {
    [Parameter] public Place Place { get; set; }
    bool IsEdit { get; set; } = false;
}